/*
////////////////////////////////////////////////////////////////

					Bob Brown Author Site
					   CSS Style Sheet

////////////////////////////////////////////////////////////////
*/

.pan-custom {
	background-color: #252839;
	background-image:
	 radial-gradient(
	   #b5b5b7, #252839
	 );
	color: #f2b632;
	text-align: center;
}

.lighten {
	color: #b5b5b7;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*
Color Scheme:
Slate Blue: #252839
Dark Grey: #677077
Light Grey: #b5b5b7
Yellow: #f2b632
*/

.gradient-blue {
	background-color: #252839;
	background-image:
	 linear-gradient(
	   to top,
	   #b5b5b7, #252839
	 );
}

.gradient-yellow {
	background-color: #f2b632;
	background-image:
	 linear-gradient(
	   to top,
	   #677077, #f2b632
	 );
}

.gradient-grey {
	background-color: #677077;
	background-image:
	 linear-gradient(
	   to top right,
	   #b5b5b7, #677077
	 );
}

body {
	background-color: #677077;
}

h1 {
	font-family: 'Stalinist One', cursive;
}


ul {
	background-color: #f2b632;
}

li {
	margin-left: 5px;
}

#nav-tabs li.active {
	background-color: #b5b5b7;
}


.main-panel {
	background-color: #b5b5b7;
	height: 1100px;
	width: 1100px;
	padding: 10px;
	/*border: 1px green dashed;*/
	margin: 0px auto;
}

.panContainer {
	background-color: #677077;
	width: 100%;
	margin: 5px;
	padding: 10px;
	/*border: 1px blue solid;*/

}

#bobHeader {
	background-color: #677077;
	background-image:
	 linear-gradient(
	   to right,
	   #b5b5b7, #677077
	 );
	font-family: 'Stalinist One', cursive;
}

#page-title {
	font-size: 60px;

}

.nav-container {
	background-color: #b5b5b7;
}

/*
///////////////////////////////////

			Home Page

///////////////////////////////////
*/

#carousel-bob-home {
	height: 500px;
	width: 100%;
}

.caro-pan {
	/**/
	height: 490px;
	text-align: center;
}

.caro-img {
	/**/
	position: relative;
	margin: 0px auto;

}

.caro-text {
	background-color: rgba(0, 0, 0, .35);
}

.caro-title {
	font-family: 'Stalinist One', cursive;
}

.well {
	background-color: blue;
}


/*
///////////////////////////////////

			Books Page

///////////////////////////////////
*/
#books-panel {
	height: 100%;
}

.book-display img {
	height: 250px;
	width: 162.5px;
}
/*
original size height 500 width 325
*/

/*
///////////////////////////////////

		Other Fiction Page

///////////////////////////////////
*/

.short-img {
	height: 125px;
	width: 81.25px;
}



/*
///////////////////////////////////

			About Page

///////////////////////////////////
*/

.imgContainer {
	border: 5px red solid;
}





/*
////////////////////////////////////

 	      	Portal
 	       Links Page

////////////////////////////////////
*/

#linksContainer {
	height: 950px;
    width: 950px;
	margin: 0px auto;
	display: table;

}

#portLimit {
	/**/
	height: 950px;
    width: 950px;
    display: table-cell;
    vertical-align: middle;
}

.portal {
	/**/
	background-color: rgba(0, 0, 0, 0);
	position: relative;
	border-radius: 50%;
	margin: 0px auto;
	display: table-cell;
	vertical-align: middle;
	border: 10px white solid;
}

#outermost {
	/**/
	background-image: url(../img/link-background.jpg);
	background-size: cover;
	margin-top: ;
	height: 900px;
	width: 900px;
	left: 15px;
}

#middlePort {
	/**/
	height: 850px;
	width: 850px;
	left: 15px;
}

#innermost {
	/**/
	height: 775px;
	width: 775px;
	left: 28px;
}

#contentPort {
	/**/
	background-color: rgba(211, 211, 211, 0.75);
	text-align: center;
	height: 600px;
    width: 600px;
    left: 80.5px;
}

#contLink {
	height: 600px;
	width: 600px;
    text-align: center;
	margin: 0px auto;
	left: 25px;
	display: table-cell;
    vertical-align: middle;
}

.portLink {
  color: lavender;
  text-decoration: none;
}

.portLink:hover {
    color: @link-hover-color;
    text-decoration: none;
  }

/*
////////////////////////////////////

			Test

////////////////////////////////////
*/
/*#comp-terminal {
	border-style: solid;
	border-width: 82px 53px 214px 48px;
	-moz-border-image: url(../img/comp-terminal.jpg) 82 53 214 48 stretch;
	-webkit-border-image: url(../img/comp-terminal.jpg) 82 53 214 48 stretch;
	-o-border-image: url(../img/comp-terminal.jpg) 82 53 214 48 stretch;
	border-image: url(../img/comp-terminal.jpg) 82 53 214 48 fill stretch;
}*/

#comp-terminal {
	border: 65px;
	border-color: white;
	border-style: inset;
	border-radius: 15px;
}

#type-out-wrapper {
	background-color: rgb(47, 47, 47);
	padding: 10px;
	border: 2px white solid;
	border-radius: 10px;
}

.mock-con-readout {
	font-family: 'Share Tech Mono', ;
	/*color: rgb(12, 168, 27);*/
	color: rgb(31, 204, 250);
}

.con-title {
	text-align: center;
}

#head-data td {
	width: 165px;
}

#type-out {
	font-family: 'Share Tech Mono', ;
}

#curser {
	height: 20px;
	width: 10px;
	background-color: rgb(31, 204, 250);
}



/*
///////////////////////////////////////////////////////////////////////////////

////////// Notes

links panel has a portal.

- set of a few divs made into circles, all one inside the other.

	-outermost: has a space sort of high orbit planet
				view as a background image.

	-middle: has a white background, a lot of margins
			 and a lot of padding.

	-innermost: has a transparent background (making
				the planet picture visible again) and
				a good sizing on it as well (still be
				scaleable)

	-content: circle as well, solid background with
			  links and such in the middle (maybe just
			  off sides...we'll see, circle might be
			  hard);



///////////////////////////////////////////////////////////////////////////////

////////// Snippets



///////////////////////////////////////////////////////////////////////////////
*/
