/*
////////////////////////////////////////////////////////////////

					Bob Brown Author Site
					   CSS Style Sheet

////////////////////////////////////////////////////////////////					   
*/

body {
	background-color: lightgrey;	
}

h1 {
	font-family: 'Stalinist One', cursive;
}


ul {
	background-color: orange;
}

li {
	margin-left: 5px;
}

.main-panel {
	background-color: white;
	height: 1100px;
	width: 1100px;
	padding: 10px;
	border: 1px green dashed;
	margin: 0px auto;
}

.panContainer {
	background-color: lightgrey;
	margin: 5px;
	padding: 10px;
	border: 1px blue solid;
	
}

#bobHeader {
	background-color: white;
	font-family: 'Stalinist One', cursive;
}

#page-title {
	font-size: 60px;
}

.nav-container {
	background-color: white;
}

/*
///////////////////////////////////

			Books Page

///////////////////////////////////
*/

.well {
	background-color: blue;
}


/*
///////////////////////////////////

			Books Page

///////////////////////////////////
*/

.book-display img {
	height: 250px;
	width: 162.5px;
}
/*
original size height 500 width 325
*/

/*
///////////////////////////////////

		Other Fiction Page

///////////////////////////////////
*/

.short-img {
	height: 125px;
	width: 81.25px;
}



/*
///////////////////////////////////

			About Page

///////////////////////////////////
*/

.imgContainer {
	border: 5px red solid;
}





/*
////////////////////////////////////

 	      	Portal
 	       Links Page

////////////////////////////////////
*/

#linksContainer {
	height: 950px;
    width: 950px;
	margin: 0px auto;
	display: table;

}

#portLimit {
	/**/
	height: 950px;
    width: 950px;
    display: table-cell;
    vertical-align: middle;
}

.portal {
	/**/
	background-color: rgba(0, 0, 0, 0);
	position: relative;
	border-radius: 50%;
	margin: 0px auto;
	display: table-cell;
	vertical-align: middle;
	border: 10px white solid;
}

#outermost {
	/**/
	background-image: url(../img/link-background.jpg);
	background-size: cover;
	margin-top: ;
	height: 900px;
	width: 900px;
	left: 15px;
}

#middlePort {
	/**/
	height: 850px;
	width: 850px;
	left: 15px;
}

#innermost {
	/**/
	height: 775px;
	width: 775px;
	left: 28px;
}

#contentPort {
	/**/
	background-color: rgba(211, 211, 211, 0.75);
	text-align: center;
	height: 600px;
    width: 600px;
    left: 80.5px;
}

#contLink {
	height: 600px;
	width: 600px;
    text-align: center;
	margin: 0px auto;
	left: 25px;
	display: table-cell;
    vertical-align: middle;
}

.portLink {
  color: lavender;
  text-decoration: none;
}

.portLink:hover {
    color: @link-hover-color;
    text-decoration: none;
  }

/*
////////////////////////////////////

			Section

////////////////////////////////////
*/








/*
///////////////////////////////////////////////////////////////////////////////

////////// Notes

links panel has a portal. 

- set of a few divs made into circles, all one inside the other. 

	-outermost: has a space sort of high orbit planet 
				view as a background image.

	-middle: has a white background, a lot of margins 
			 and a lot of padding.

	-innermost: has a transparent background (making 
				the planet picture visible again) and 
				a good sizing on it as well (still be 
				scaleable)

	-content: circle as well, solid background with 
			  links and such in the middle (maybe just 
			  off sides...we'll see, circle might be 
			  hard);



///////////////////////////////////////////////////////////////////////////////

////////// Snippets



///////////////////////////////////////////////////////////////////////////////
*/








